@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

.top-logo{
   background-image: url('../public/logo-zak-pharmacy\ 1\ \(1\).png');
}
.search{
   background-image: url('../public/Иконка.png');
}
.rus{
   background-image: url('../public/Русский\ \(1\).png');
}
.bottomIcon {
   background-image: url('../public/img-bottom.png');
}
.bag{
   background-image: url('../public/bg.png');
}
.kleksan{
   background-image: url('../public/kleksan.png');
}
.bigbg{
   background-image: url('../public/bigbg.png');
}
.bgfoot{
   background-image: url('../public/2\ 421.png');
}
.imges{
   background-image: url('../public/social\ media.png');
}